// 
// ABOUT
//

.about {
	position: relative;

	.arc {
		position: absolute;
		left: 0;
		width: 100%;
	}

	.column {
		padding: 140px 0 180px;
	}

	h2, h3, p, .button {
		text-align: center;
		color: $grey;
	}

	p {
		margin-bottom: 0;

		&.quote {
			margin: 15px auto 10px;
			width: 50%;
			line-height: 1.8;
		}
	}

	.content-area {
		width: 80%;
		margin: 0 auto;
	}

}

.avatar {
	display: block;
	width: 60px;
	height: 60px;
	@include radius (30px);
	overflow: hidden;
	margin: 45px auto 0;
}

.board {
	background: url('../images/test.jpg') center no-repeat;
	background-size: cover;
	padding: 130px 0;

	h2, h3, p {
		color: $secondary-color;
		text-align: center;
	}

	.button {
		margin: 60px 0 0;
	}
}

@media #{$medium-only} { 
	.about {
		.column:last-child {
			padding-top: 0;
		}
		p {
			&.quote { width: 40%; }
		}
	}
}

@media #{$small-only} { 
	.about {
		.column:last-child {
			padding-top: 0;
		}
		p {
			&.quote { width: 60%; }
		}
	}
}


