// 
// BLOG-POST
//

#blog-post {
    
    color:#333;
    
    h2 {
        color: #333;
        margin: 5px 0 30px;
    }
    
    h3 {
        color: #333;
        margin: 40px 0 0;
    }
    
    p {
        font-style: normal;
        color: #333;
        font-size: 21px;
        margin: 0 0 20px;
    }

}

@media #{$small-only} { 
    h1 { font-size: rem-calc(46) }
    h2 { font-size: rem-calc(34) }
}
