// 
// BLOG-POST
//

#blog-post {
    
    h2 {
        margin-left: 30px;
    }
    
    h3 {
        margin-top: 20px;
        margin-left: 30px;
        margin-bottom: 0;
    }
    
    p {
        margin-left: 30px;
        font-style: normal;
    }

}
