// 
// DONATE
//

.donate {
	position: relative;

	.column {
		padding: 190px 0 240px;
	}

	h2, h3, p, .button {
		text-align: center;
		color: $grey;
	}

	p {
		margin-bottom: 50px;
	}

	.seaweed .button { 
		border-color: $keylime; 
		&:hover {
			background-color: $keylime;
		}
	}
	.keylime .button { 
		border-color: $seaweed; 
		&:hover {
			background-color: $seaweed;
		}
	}

	.event-button {
		color: $grey;
		position: absolute;
		display: block;
		border: 2px solid #b9b851;
		bottom: 0;
		width: 360px;
		left: 50%;
		margin: 0 0 0 -180px;
		padding: 15px 0;
		font-size: 15px;
		font-style: normal;
		font-weight: 800;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 1px;
		@include radius(12px 12px 0 0);
		@include transition;

		svg {
			width: 60px;
			height: 60px;
			path,
			rect {
				fill: $grey;
			}
		}

		&:hover {
			background-color: #b9b851;
		}
	}
}

@media #{$medium-only} { 
	.donate {
		.column {
			padding: 140px 0 100px;
			&.keylime {
				padding-bottom: 160px;
			}
		}
	}
}

@media #{$small-only} { 
	.donate {
		.column {
			padding: 140px 0 100px;
			&.keylime {
				padding-bottom: 160px;
			}
		}
	}
}
