#dgx-donate-container {
	background: transparent;
	margin: 0 auto;
	max-width: 1000px;
	padding: 0;

	#dgx-donate-form-donation-section {
		margin: 50px auto 95px;
		width: 620px;

		#donation_header {
			&:after {
				content: "I'm donating";
				color: $grey;
				display: block;
				font: 68px $header-font-family;
				font-weight: $header-font-weight;
				margin: 0 0 35px;
				text-align: center;
				width: 100%;
			}
		}
	}

	#dgx-donate-form-donor-section {
		color: $grey;
		font: 15px $body-font-family;
		@include clearfix;
	}

	#_dgx_donate_donor_first_name,
	#_dgx_donate_donor_last_name,
	#_dgx_donate_donor_email {
		float: left;
		width: 33.33%;

		input {
			background: transparent;
			border: 2px solid $grey;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			color: $grey;
			font: 25px $body-font-family;
			font-style: italic;
			height: 50px;
			margin: 8px 0 0;
			padding-left: 15px;
		}
	}

	#_dgx_donate_donor_first_name {
		input {
			border-right: none;
			@include radius(12px 0 0 12px);
		}
	}

	#_dgx_donate_donor_email {
		input {
			border-left: none;
			@include radius(0 12px 12px 0);
		}
	}

	.dgx-donate-form-section {
		background: transparent;
		border: none !important;
		margin: 0 0 80px;
		padding: 0;

		p {
			display: none;
		}

		span {
			color: $grey;
			font: 25px $body-font-family;
			font-style: italic;

			&.horiz {
				margin-left: 70px;
			}
		}

		input[type="radio"] {
			margin: 0 10px 0 0;
		}
	}

	h2 {
		color: $grey;
		font: 15px $body-font-family;
		font-weight: 700;
		letter-spacing: 1px;
		margin: 0 0 35px;
		text-align: center;
		text-transform: uppercase;
	}

	.dgx-donate-pay-enabled {
		border: 2px solid rgba(0,0,0,.1);
		height: 105px;
		position: relative;
		@include radius(12px);

		&:hover {
			background: rgba(0,0,0,.1);
		}

		&:after {
			color: $grey;
			content: "Donate";
			display: block;
			font: 24px/105px $body-font-family;
			font-weight: 700;
			letter-spacing: 1;
			position: absolute;
			text-align: center;
			text-transform: uppercase;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 1;
		}

		input {
			display: block;
			height: 105px;
			opacity: 0;
			position: absolute;
			width: 100%;
			z-index: 4;
		}
	}
}

.reveal-modal .close-reveal-modal {
	color: $grey !important;
}
