// 
// EVENT
//

.event {
    height: auto;

    .event-image {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; 
        min-height: 698px;
    }

    .event-description {
        text-align: center;
        padding:145px 100px;
    }

    svg {
        width: 9px;
        margin-right: 7px;
    }

    p {
        margin-bottom: 60px;
    }

    h3, p {
        color: $primary-color;
    }

    .button {
        &:hover {
            svg {
                path {
                    fill: #fff;
                }
            }
        }
    }
}