// 
// FOOTER
//

.footer {
    height: 500px;
    
    .copyright p {
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        color: #565656;
        text-align: center; 
        margin-top:175px;
    }
    
    .inline-list {
        margin-top:245px;
    }
    
    .inline-list li {
        margin-left:24%;
    }
}