// 
// HOME
//
body {
	background: $black;
	box-sizing: border-box;
}

.home {
	.columns {
		overflow: hidden;
	}

	h2,
	p {
		text-align: center;
	}

	h2 {
		margin-top: 290px;
	}

	p {
		margin-bottom: 290px;
	}
}