// 
// IMAGES
//

.gridder {
	margin: 0 -1.25rem 0;
	padding: 0px;
	list-style-type: none;
}

.gridder-list {
	display: inline-block;
	vertical-align: top;
}

.gridder-show {
	display: block;
	float: left;
	width: 100%;
	position: relative;
}

.gridder-content {
	display: none;
}

.gridder-list { 
	width: 16.6667%; 

	img {
		width: 100%;
	}
}

.gridder-list:nth-child(n) {
	margin-bottom:0;
	margin-right:0;
}

.gridder-list:nth-of-type(6n) {
		margin-right:0;
		margin-bottom:0
}


.gridder-expanded-content, .gridder-list {
	text-align:center;
}