// 
// NAV
//

.left-off-canvas-menu {
		ul {
			margin: 0;
			padding: 0;

			li {
				list-style: none;

				a {
					display: block;
					padding: 10px; 
				}
			}
		}
	}
	

.site-header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	z-index: 999;

	.row {
		padding: 12px;
	}

	.success {
		p {
			text-align: center;
			color: $grey;
		}
	}

	.main-nav-background {
		height: 100px;
		background-color: rgba(0,0,0,.4);
		position: relative;
		top: -92px;
		z-index: -1;
		opacity: 0;
	}

	.site-logo {
		background: url('../images/hothlogo.svg') no-repeat;
		width: 60px;
		height: 60px;
		margin-top: 8px;
		a {
			display:block;
			width: 60px;
			height: 60px;
		}
	}

	

	.nav {
		float: right;

		ul {
			@include inline-list;
			overflow: visible;
			margin: 1px 0 0;

			li {
				margin: 0 15px;

				&:last-child {
					a {
						@include button;
						margin: 0;
						font-weight: 400;
						font-size: 20px;
						@include radius(12px);

						&:after {
							display: none;
						}

						&:active {
							color: #fff;
						}

						&:hover {
							color: #fff;
							
							&:after {
								display: none;
							}
						}
					}
				}

				&.menu {
					display:none;
				}
			}

			&.mobile-menu {
				display:none;
			}

			@media #{$medium-only} { 
				&.site-menu {
					display:none;
				}
				&.mobile-menu {
					display:block;
				}
			}

			@media #{$small-only} { 
				&.site-menu {
					display:none;
				}
				&.mobile-menu {
					display:block;
				}
			}

			a {
				color: $secondary-color;
				cursor: pointer;
				display: inline-block;
				font: 20px/60px $body-font-family;
				position: relative;
				text-transform: uppercase;
				font-style: normal;
				position: relative;

				&:after {
					content: ".";
					display: block;
					position: absolute;
					text-indent: -9999px;
					bottom: 2px;
					width: 0%;
					height: 2px;
					background: $primary-color;
				}

				&:hover {

					&:after {
						width: 100%;
						@include transition;
					}
				}

				&.selected:after {
					content: ".";
					display: block;
					position: absolute;
					text-indent: -9999px;
					bottom: 2px;
					width: 100%;
					height: 2px;
					background: $primary-color;
				}
			}

		}

		
	}
}