// 
// TYPE
//
<<<<<<< Updated upstream
=======

h1 {
	font-size: rem-calc(80);
	text-align: center;
}

h2 {
	color: $secondary-color;
	font: 15px $body-font-family;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0 0 35px;
}

p {
	font-size: 25px;
	margin: 0;
}
>>>>>>> Stashed changes
