// 
// VIDEO
//

.start {
	video {
		opacity: .5;
        width: 100%;
        height: auto;
        visibility: visible; 
        margin: auto; 
        position: absolute; 
        top: 0; 
        left: 0;
        z-index: -1;
	}
}
@media (max-width: 1920px) {
    .home {
        video {
            width: auto;
            min-height: 900px;
        }
    }
}